<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Registro de Clientes</h2>
        <form>

            <div class="form-group">
                <label>Identificacion</label>
                <input type="text" name="idCliente" [(ngModel)]="cliente.idCliente" class="form-control" />
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="nombreCliente" [(ngModel)]="cliente.nombreCliente" class="form-control" />
            </div>
            <div class="form-group">
                <label>Direccion</label>
                <input type="text" name="dirCliente" [(ngModel)]="cliente.dirCliente" class="form-control" />
            </div>
            <div class="form-group">
                <label>Telefono</label>
                <input type="text" name="telCliente" [(ngModel)]="cliente.telCliente" class="form-control" />
            </div>
            <div class="form-group">
                <label>Fecha de Nacimiento</label>
                <input type="date" name="fnCliente" [(ngModel)]="cliente.fnCliente" class="form-control" />
            </div>
            <div class="form-group">
                <label>Medida Pecho</label>
                <input type="number" name="pecho" [(ngModel)]="cliente.pecho" class="form-control" />
            </div>
            <div class="form-group">
                <label>Medida Cintura</label>
                <input type="number" name="cintura" [(ngModel)]="cliente.cintura" class="form-control" />
            </div>
            <div class="form-group">
                <label>Medida Cadera</label>
                <input type="number" name="cadera" [(ngModel)]="cliente.cadera" class="form-control" />
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1" (click)="add()">Register</button>
                <button class="btn btn-secondary" type="reset">Cancel</button>
            </div>
        </form>
    </div>
</div>
